form{
    width: 30%;
    min-width: 190px;
    margin: 0 auto;
    padding: 1rem 0 1rem 1rem;
    background-color: rgba(243, 46, 46, 0.863);
    border: 1px solid black;
    border-radius: 4px;
}
label{
    color: white;
    text-transform: uppercase;
}
input{
    padding: 0.2rem 0.2rem;
    box-sizing: border-box;
    border-radius: 4px;
}
[data-search]{
    width: 90%;
    margin: 0.2rem auto;
    font-size: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}