span.bug{
    background-color:#3c9950;
}
span.dark{
    background-color:#3c9950;
}
span.dragon{
    background-color:#62cad9;
}
span.electric{
    background-color:yellow;
}
span.fairy{
    background-color:#e91368;
}
span.fighting{
    background-color:#ef6239;
}
span.fire{
    background-color:#e93e4b;
}
span.flying{
    background-color:#94b2c7;
}
span.ghost{
    background-color:#906791;
}
span.grass{
    background-color:#27cb50;
}
span.ground{
    background-color:#a36c2d;
}
span.ice{
    background-color:#c5e8f7;
}
span.normal{
    background-color:#ca98a6;
}
span.poison{
    background-color:#9b69da;
}
span.psychic{
    background-color:#f71d92;
}
span.rock{
    background-color:#b95632;
}
span.steel{
    background-color:#43bd94;
}
span.water{
    background-color:#43bd94;
}